<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--    <style>-->
<!--        h4 {-->
<!--            color : blue;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <h4> 저녁메뉴 추천</h4>-->
<!--    {% if dinner == '치킨' %}-->
<!--        <p> 푸라닭 멁자! </p>-->
<!--    {% else %}-->
<!--        <p> {{dinner}} 먹자</p>-->
<!--    {% endif %}-->
    
    
<!--    {{ dinner }}-->
    
    
<!--    <hr>-->
<!--    {% for item in box %}-->
<!--        {{item}}-->
<!--    {% endfor %}-->
<!--</body>-->
<!--</html>-->

{% extends 'base.html' %}
{% block body %}
    <h4> 저녁메뉴 추천</h4>
    {% if dinner == '치킨' %}
        <p> 푸라닭 멁자! </p>
    {% else %}
        <p> {{dinner}} 먹자</p>
    {% endif %}
    
    
    {{ dinner }}
    
    <hr>
    {% for item in box %}
        {{item}}
    {% endfor %}
{% endblock %}